@charset "UTF-8";

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

:root {
    --main-color: #13203a;
    --text-color: #444444;
    --light-gray: #f0f0f0;
    --medium-gray: #b0b0b0;
    --dark-gray: #5c5c5c;
    --hover-color: #e2edf9;
    --tab-color: #f5f5f5;
    --shadow-color: #37373759;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zen Kaku Gothic New",'Yu Gothic', 'YuGothic',
        "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3",
        "メイリオ", "Meiryo",
        "MS Pゴシック",
        "Helvetica Neue", "Helvetica",
        "Arial", sans-serif;
}

body {
    font-size: min(18px, 4vw);
    background-color: var(--light-gray);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-color);
    margin: 0px 1em 10px;
}

h1 {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    margin: 15px;
    padding: 15px;
    border-radius: 30px;
    background-color: var(--tab-color);
    box-shadow: 0px 3px 10px 0px var(--shadow-color);
}

h1 img {
    width: 1.2em;
}

.top-page-menu {
    font-size: 1.5em;
    text-align: center;
}

li {
    margin: 10px 0;
}

.top-page-how-to-use {
    margin: 20px 1em;
}

label {
    display: block;
}
section {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 10px 0px var(--shadow-color);
    font-size: 1.2em
}

input[type="number"] {
    width: 3em;
    padding: 10px;
    margin: 10px 0.3em 20px 0.3em;
    border: 1px solid var(--medium-gray);
    border-radius: 5px;
    font-size: 1em;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid var(--medium-gray);
    border-radius: 5px;
    font-size: 1em;
}

button {
    display: block;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* ホバーとマウスポインタ（細かいポインタ）をサポートするデバイスでのみ
   ホバー時に opacity を下げる（タッチデバイスでは効かない） */
@media (hover: hover) and (pointer: fine) {
    button:hover {
        opacity: 0.7;
    }
}

div#qrcode {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

#url {
    background-color: var(--medium-gray);
    color: var(--dark-gray);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.8em;
    user-select: all; /* 全て選択可能にする */
}

#copy-succeed {
    text-align: center;
    color: green;
    font-weight: bold;
}

#about-performance {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 2em;
}

#for-whom {
    text-align: right;
    margin-top: 5px;
    margin-right: 1em;
    font-size: 1em;
    color: var(--text-color);
}