@charset "UTF-8";

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

:root {
    --main-color: #13203a;
    --text-color: #444444;
    --light-gray: #f0f0f0;
    --medium-light-gray: #cdcdcd;
    --medium-gray: #b0b0b0;
    --dark-gray: #5c5c5c;
    --hover-color: #e2edf9;
    --tab-color: #f5f5f5;
    --shadow-color: #37373759;
    --error-background: #ffe6e6;
    --succeed-background: #e6ffe6;
    --succeed-film-background: #23452345;
    --error-film-background: #a4000045;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zen Kaku Gothic New", 'Yu Gothic', 'YuGothic',
        "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3",
        "メイリオ", "Meiryo",
        "MS Pゴシック",
        "Helvetica Neue", "Helvetica",
        "Arial", sans-serif;
}

body {
    font-size: min(18px, 4vw);
    background-color: var(--light-gray);
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--main-color);
    margin: 0px 1em 10px;
}

header {
    width: max-content;
    margin: 10px;
    margin-left: min(4vw, 3em);
    padding: 15px;
    border-radius: 30px;
    background-color: var(--tab-color);
    box-shadow: 0px 3px 10px 0px var(--shadow-color);
}

.scan-header {
    text-align: center;
    position: fixed;
    z-index: 99;
}

.scan-header h1 {
    margin: 0;
}

h1 {
    color: var(--main-color);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
}

h1 img {
    width: 1.2em;
}

.top-page-menu {
    font-size: 1.5em;
    text-align: center;
}

li {
    margin: 10px 0;
}

.top-page-how-to-use {
    margin: 20px 1em;
}

label {
    display: block;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 10px 0px var(--shadow-color);
    font-size: 1.2em
}

input[type="number"] {
    width: 3em;
    padding: 10px;
    margin: 10px 0.3em 20px 0.3em;
    border: 1px solid var(--medium-gray);
    border-radius: 5px;
    font-size: 1em;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid var(--medium-gray);
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button {
    display: block;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 5px 5px 10px 0px var(--shadow-color);
    transition: opacity 0.3s;
}

/* ホバーとマウスポインタ（細かいポインタ）をサポートするデバイスでのみ
   ホバー時に opacity を下げる（タッチデバイスでは効かない） */
@media (hover: hover) and (pointer: fine) {
    button:hover {
        opacity: 0.7;
    }
}

.film {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    transition: background 0.3s;
}

.film.success {
    background-color: var(--succeed-film-background);
}

.film.error {
    background-color: var(--error-film-background);
}

div#qrcode {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

#qrcode-data {
    text-align: center;
    font-size: 1em;
    color: var(--text-color);
}

.url-container {
    background-color: var(--medium-gray);
    color: var(--dark-gray);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.8em;
    user-select: all;
    /* 全て選択可能にする */
}

.url-container a {
    color: var(--dark-gray);
}

#copy-succeed {
    text-align: center;
    color: green;
    font-weight: bold;
}

#about-performance {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 2em;
}

#for-whom {
    text-align: right;
    margin-top: 5px;
    margin-right: 1em;
    font-size: 1em;
    color: var(--text-color);
}

#reader {
    width: 100vw;
    margin: 0 auto;
}

.reader-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 1em;
    z-index: 99;
    margin: 15px 0;
    padding: 5px 20px;
    border-radius: 30px;
    box-shadow: 0px 3px 10px 0px var(--shadow-color);
    background-color: var(--tab-color);
}

.mode div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.mode a {
    color: var(--dark-gray);
}

.mode select {
    width: auto;
    margin: 0;
}

#result {
    position: fixed;
    z-index: 999;
    background-color: var(--succeed-background);
    width: 80vw;
    height: 70vh;
    top: 15vh;
    left: 10vw;
    padding: 30px;
}

.performance-data-container {
    position: fixed;
    z-index: 9999;
    width: 80vw;
    height: 70vh;
    top: 15vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding-left: 6em;
}

#result h2 {
    color: green;
}

#result h3 {
    margin: 0;
    font-size: 4em;
    text-align: left;
}

#result p {
    text-align: left;
    font-size: 1.5em;
    color: var(--text-color);
}

.guide-message {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-weight: bold;
}

#result.invalid {
    border: 5px solid red;
    background-color: var(--error-background);
}

#result.invalid h2 {
    color: red;
}

#result.invalid h3 {
    color: red;
}

#result.reentry {
    border: 5px solid var(--dark-gray);
    background-color: var(--medium-gray);
}

#result.reentry h2 {
    color: var(--text-color);
}

#result.reentry h3 {
    color: var(--text-color);
}

/* タブメニューのデザイン */

/*タブ切り替え全体のスタイル*/
.tabs {
    width: 94vw;
    margin: 20px auto;
}

/*タブのスタイル*/
.tab_items {
    width: max-content;
    display: flex;
    box-shadow: -2px -1px 10px 0px var(--shadow-color);
}

.tab_item {
    border-bottom: 3px solid var(--main-color);
    background-color: var(--medium-gray);
    color: var(--dark-gray);
    padding: 12px 2em;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: 0.2s ease;
    transition-property: background, opacity, color;
}

@media (hover: hover) and (pointer: fine) {
    .tab_item:hover {
        opacity: 0.7;
    }
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
    background-color: var(--tab-color);
    box-shadow: 0px 3px 10px 0px var(--shadow-color);
    display: none;
    padding: 20px 3vw;
    clear: both;
    overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
.tabs:has(#summary:checked) #summary_content {
    display: block;
}

.tabs:has(#list:checked) #list_content {
    display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked+.tab_item {
    background-color: var(--main-color);
    color: #fff;
}

.summary-blocks-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
}

.summary-block {
    display: block;
    background-color: white;
    padding: 20px 10px;
    border-radius: 30px;
    box-shadow: 0px 3px 10px 0px var(--shadow-color);
    margin-bottom: 20px;
}

.summary-block p {
    text-align: center;
    margin: 0 4rem;
}

.summary-block p:has(.small) {
    margin: 0 2rem;
}

.summary-block h3 {
    font-size: 1.3em;
}

.summary-number {
    font-size: 10em;
    font-weight: bold;
    color: var(--main-color);
    margin: 0 1rem;
    line-height: 6rem;
}

.summary-number.small {
    font-size: 6em;
    line-height: 4rem;
}

/* 表のスタイル */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid var(--medium-gray);
    padding: 10px;
    text-align: center;
    white-space: nowrap;
}

th {
    background-color: var(--main-color);
    color: white;
    font-weight: normal;
}

tr:nth-child(even) {
    background-color: var(--light-gray);
}

tr:nth-child(odd) {
    background-color: white;
}

.valid-cell {
    color: green;
}

.reentry-cell {
    background-color: var(--dark-gray);
    color: white;
}

.invalid-cell {
    color: white;
    background-color: red;
    font-weight: bold;
}

tr:has(.invalid-cell) {
    background-color: var(--error-background);
}

tr:has(.reentry-cell) {
    background-color: var(--medium-light-gray);
}

.tab_content {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* iOSでの慣性スクロールを有効に */
}

/* 画像入りのボタン */
.img-button {
    position: fixed;
    bottom: 1em;
    right: 1em;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--light-gray);
    z-index: 999;
}

.img-button img {
    width: 2em;
}

/* テキストのみのボタン */
.text-button {
    position: fixed;
    padding: 0;
    background: none;
    text-decoration: underline;
    box-shadow: none;
}

#input_directory {
    bottom: 1em;
    left: 2em;
    z-index: 999;
}

#input-directory-dialog {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    background-color: var(--tab-color);
    width: 60vw;
    height: 50vh;
    top: 25vh;
    left: 20vw;
    padding: 30px;
}

#input-directory-dialog div {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

#input-directory-dialog p {
    text-align: center;
}

#close-window {
    position: absolute;
    right: 1em;
    top: 1em;
}

#close-window img {
    width: 2em;
}

input[type="text"] {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid var(--medium-gray);
    border-radius: 5px;
    font-size: 1em;
}